body{
    font-family: 'Lemonada', cursive;
    padding: 10px;
}
#bigOne{
    width: 600px;
    border:1px solid black;
    padding: 10px;
}
#headerPostcard{
    display: flex;
    align-items: center;
}
#titlePostcard{
    width: 74%;
    float: left;
}
h1{
 margin: auto;
}
#imgPostcard{
    float: right;
    width: 25%;
}
img{
    width: 4em;
}
#bodyPostcard{
    display: flex;
    align-items: center;
  
}
p{
    font-size: 15px;
    line-height: 22px;
}
#infoPostcard{
    float: left;
    width: 50%;
}
#formPostcard{
    float: right;;
    width: 50%;
}
input{
    width:90%;
    height: 30px;
    margin: 5px;
    border: none;
    border-bottom: 1px grey solid;
    font-size: 14px;
    font-family: 'Lemonada', cursive;
}
#btnPostcard{
    text-align: center;
}
button{
    font-family: 'Lemonada', cursive;
    border: none;
    background: #148fcb;
    color: white;
    width: 50%;
    padding: 5px;
    border-radius: 2px;
}